/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/

/*URW DIN Regular
font-family: "urw-din", sans-serif;
font-weight: 400;
font-style: normal;

URW DIN Regular Italic
font-family: "urw-din", sans-serif;
font-weight: 400;
font-style: italic;

URW DIN Bold
font-family: "urw-din", sans-serif;
font-weight: 700;
font-style: normal;

URW DIN Bold Italic
font-family: "urw-din", sans-serif;
font-weight: 700;
font-style: italic;

URW DIN Cond Regular
font-family: "urw-din-condensed", sans-serif;
font-weight: 400;
font-style: normal;

URW DIN Cond Regular Italic
font-family: "urw-din-condensed", sans-serif;
font-weight: 400;
font-style: italic;

URW DIN Cond Bold
font-family: "urw-din-condensed", sans-serif;
font-weight: 700;
font-style: normal;

URW DIN Cond Bold Italic
font-family: "urw-din-condensed", sans-serif;
font-weight: 700;
font-style: italic;

URW DIN SemiCond Regular
font-family: "urw-din-semi-condensed", sans-serif;
font-weight: 400;
font-style: normal;

URW DIN SemiCond Regular Italic
font-family: "urw-din-semi-condensed", sans-serif;
font-weight: 400;
font-style: italic;

URW DIN SemiCond Bold
font-family: "urw-din-semi-condensed", sans-serif;
font-weight: 700;
font-style: normal;

URW DIN SemiCond Bold Italic
font-family: "urw-din-semi-condensed", sans-serif;
font-weight: 700;
font-style: italic;*/

/*html {
    scroll-behavior: smooth;
}*/

* {
   box-sizing: border-box;
}

img {
   width: 100%;
   display: block;
}

body {
  background-color: black;
}

.hidden {
  display: none;
}


#begin {
  width: 100%;
  height: 1px;
  background-color: white;
}

#first-content {
  display: none;
}

.header {
   width: 100%;
   height: 100vh;
   position: relative;
}

.background {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0px;
   left: 0px;
}

   .background img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .background video {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

.mobile-background {
  display: none;
}   


.header-bg-overlay {
   width: 100%;
   height: 100vh;
   background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 100%);
   position: absolute;
   top: 0px;
   left: 0px;
}   


.header-content {
   position: absolute;
   top: 0px;
   left: 0px;
   color: white;
   width: 100%;
   padding: 20px;
   
}

.header-title {
   font-family: "urw-din", sans-serif;
   font-weight: 700;
   font-style: normal;
   text-align: center;
   padding-top: 15vh;
   max-width: 800px;
   margin: auto;
}

.header-title .logo {
   width: 100px;
   margin:auto;
}

.header-title h1 {
   margin: 0px;
   font-size: 3em;
   border-bottom: 2px solid #ffba00;

}

.directions {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-family: "urw-din", sans-serif;
}


/*DROPDOWN STYLING*/

/*.community-input {
  position: relative;
}
*/

  .choose_location {
    display: block;
    width: 100%;
    /*height: 71px;*/
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;

    /*align-items: center;*/
  }   

      .input {
         width: 100%;
         font-size: 16px;
         padding: 14px 20px 12px 20px;
         border: none;
         border-bottom: 1px solid #ddd;
         font-family: "urw-din", sans-serif;
         height: 50px;
      }

      .input:focus {outline: 3px solid #ddd;}


      .dropdown {
        position: relative;
        display: block;
        /*overflow: hidden;*/
        max-width: 700px;
        margin: auto;
        /*z-index: 2;*/

              
      }

      .dropdown-content {
        background-color: #f6f6f6;
        overflow: auto;
        /*border: 1px solid #ddd;*/
        width: 40%;
        margin: auto;
        /*position: relative;*/
        /*margin-top: 10px;*/

      }

      .dropdown-content p {
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        margin: 5px 0px;

      }

      .drop {
        display: none;
        height: 300px;
        overflow: scroll;
        font-family: "urw-din", sans-serif;
        width: 40%;
        z-index: 50;
        position: absolute;
        background-color: white;
        z-index: 10;

      }

      

      .drop p {
        cursor: pointer;
      }

      .dropdown p:hover {background-color: #ddd;}

      .show {display: block;}

      #countyDropdown, #zipDropdown {
        /*display: none;*/
      }

      #OR1, #OR2 {
        /*display: none;*/
      }

.or {
  font-family: "urw-din", sans-serif;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: bold;
}      

   
    

.gobutton {
  max-width: 350px;
  background-color: #00318b;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "urw-din", sans-serif;
  /*margin-top: 20px;*/
  display: none;
  cursor: pointer;
  color: white;
  border: none;

}

  .gobutton:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #ffba00;
  }

.gobutton a {
  color: white;
  text-decoration: none;
}  

.gobutton a:visited {
  color: white;
  text-decoration: none;
}  





/*END DROPDOWN STYLING*/




/*_________________CONTENT STYLING________________*/


.content {
  background-color: white;
  z-index: 50;
}

#begin {
  /*display: none;*/
}

/*MENU*/
.content-menu {
  border-bottom: 2px solid black;
  position: relative;
  width: 100%;
  padding: 10px;
  height: 60px;
  background-color: white;
  z-index: 2000;
}

.menu-header {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  /*border: 2px solid pink;*/
}

.menu-title {
  font-size: 13px;
  font-family: "urw-din", sans-serif;
  font-weight: 500;
}

  .menu-title h1 {
    margin: 0px;
  }

.menu-options {
  cursor: pointer;
}  

.menu-options a {
  text-decoration: underline;
  color: black;
}  

.menu-options a:visited {
  text-decoration: underline;
  color: black;
} 

.menu-back-to-top {
  width: 130px;
  position: absolute;
  right: 5px;
  top: 0px;
  font-family: "urw-din", sans-serif;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  color: black;
  text-decoration: underline;
}



.menu-logo {
  width: 70px;
}

.menu-arrow {
  width: 30px;
  margin: auto;
}

.menu-back-to-top-words {
  padding-top: 5px;
}

.menu-back-to-top a {
  color: black;
}

.menu-back-to-top a:visited {
  color: black;
}


.not-home-page-menu {
  position: fixed;
  top: 0px;
  left: 0px;
}


/*END MENU*/


.content-header {
  padding: 10px;
  font-family: "urw-din", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  margin-top: 60px;
  
}

.video {
  max-width: 850px;
  margin: auto;
}

  .video video {
    width: 100%;
  }

.not-home-content-header {
  padding-top: 1px; 
}

.not-home-content-header h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.content-header h3 {
  border-bottom: 2px solid #ffba00;
}

.content-header p {
  font-family: "urw-din", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.change_geo {
  max-width: 350px;
  background-color: #00318b;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "urw-din", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
}

  .change_geo:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #ffba00;
  }

.zoom-out-or-in-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  z-index: 3000;
  padding: 20px;
  display: none;
}


.zoom-out-or-in {
  position: relative;
  top: 20vh;
  background-color: rgba(255,255,255,0.9);
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px black;
  padding: 20px;
  
}

.zoombutton {
  max-width: 350px;
  background-color: #00318b;
  padding: 10px;
  text-align: center;
  margin: auto;
  font-family: "urw-din", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: white;
  border: none;
}

  .zoombutton:hover {
    /*background-color: #0058f6;*/
    transform: scale(1.1);
    box-shadow: 0px 0px 5px #ffba00;
  }

#county_zoombutton {
  display: none;
} 

#zip_zoombutton {
  display: none;
} 

#choose_zip {
  max-width: 650px;
  margin: auto;
}

#zipDropdown {
  max-width: 100%;

}

#zipdrop {
  max-width: 600px;
}

  #zipInput {
    border: 1px solid black;
  }


.zoom-back-to-top a {
  color: white;
  text-decoration: none;
}

.zoom-back-to-top a:visited {
  color: white;
  text-decoration: none;
}  


/*concerns*/
.concern-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  height: 700px;
}

.other-concerns {
  max-width: 370px;
  margin: auto;
  height: 40vh;
  grid-template-columns: 1fr;
}


.concern {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;

}

.concern:hover {
    transform: scale(1.05);
    z-index: 3;
  }

 

  .concern video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.6;

  }

  


.concern-title {
  width: 100%;
/*  height: 50vh;*/
  padding: 10px;
  position: absolute;
  color: white;
  font-family: "urw-din", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  z-index: 5;
  -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;

}

/*  .concern-title:hover {
    transform: scale(1.1);
  }*/

  .lines {
    border-bottom: 2px solid #ffba00;
    border-top: 2px solid #ffba00;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20vh;
    font-size: 35px;
  }

  .big-numb {
    font-size: 40px;
  }

  .bold {
    font-weight: 700;
    color: #ffba00;
  }

  .click-for-more {
    font-size: 20px;
    text-transform: uppercase;
    background-color: #ffba00;
    padding: 5px;
  }

.other-concerns .concern-title {
  height: 40vh;
  /*line-height: 40vh;*/
}

  .other-concerns .concern-title:hover {
    transform: scale(1.1);
  }


/*______________MAP____________ */

.map-container {
  width: 100%;
  height: 88vh;
  position: relative;

}

.map-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  margin: 0px;
  z-index: 1000;
  background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
  padding-left: 40px;
  font-family: "urw-din", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  margin: auto;

}

.map-subheader {
  font-size: 18px;
}

.map-header-content {
  width: 80%;
  margin-top: 50px;
}

.map-subheader a {
      color: #00318b;
    }

    .map-subheader a:visited {
      color: #00318b;
    }

.map-legend {
  margin-top: 60px;
}


.legend-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-width: 400px;
  font-family: "urw-din", sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 20px;

}

.legend-label {
  text-align: right;
  position: relative;
  right: -15px;
}

.legend-color {
  max-width: 40px;
  height: 30px;
}
  
  .pct-0 {
    background-color: #DADADA;
  }

  .pct-0-10 {
    background-color: #f0f723;
  }

  .pct-10-20 {
    background-color: #f5dd27;
  }

  .pct-20-30 {
    background-color: #fbbf2b;
  }

  .pct-30-40 {
    background-color: #f38a47;
  }

  .pct-40-50 {
    background-color: #d8586a;
  }

  .pct-50-60 {
    background-color: #c2407d;
  }

  .pct-60-70 {
    background-color: #ac2790;
  }

  .pct-70-80 {
    background-color: #8b169a;
  }

  .pct-80-90 {
    background-color: #6703a5;
  }

  .pct-90-100 {
    background-color: #0d0787;
  }

  .map-subheader-mobile {
    display: none;
    font-size: 18px;
  }

  .map-subheader-mobile-click {
    display: none;
    font-size: 18px;
  }

  .map-subheader-mobile-hide {
    display: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
  }




#map {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;

} 

.boundary {
  z-index: 100 !important;
  position: relative;
}

.leaflet-boundary-pane {
  z-index: 500;
}

.leaflet-tooltip-pane {
  z-index: 600;
}

.leaflet-control-zoom {
  z-index: 6000 !important;
}

.tooltip-style {
  max-width: 400px !important;
}

.tooltip-headline {
  width: 100%;
  font-family: "urw-din", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
}

.tooltip-content {
  width: 100% !important;
  font-family: "urw-din", sans-serif;
  font-weight: 400;
  font-size: 14px;

}

.tooltip-bold {
  font-weight: 700;
}

.tooltip-source {
  width: 100% !important;
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
}

.loading {
  width: 100%;
  /*height: 100vh;*/
  position: fixed;
  z-index: 6000;
}

  .loading-content {
    width: 350px;
    margin: auto;
    position: relative;
    top: 30vh;
    font-family: "urw-din", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    
  }

  .loading-icon {
    /*animation: loading 1.5s linear infinite;*/
  }

    @keyframes loading{
      0% {transform: rotate(0deg);}
      50% {transform: rotate(180deg);}
      100% {transform: rotate(360deg);}
    }

.map-tabs {
  overflow: hidden;
  margin-top: 60px;
}

.map-tab {
  float:left;
  font-family: "urw-din", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  background-color: #ffba00;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;

}

.click-more-info-map {
  font-family: "urw-din", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  background-color: #ffba00;
  margin: 5px;
  cursor: pointer;
  color: black;
  width: 70%;
  margin: auto;
  /*margin-top: 30px;*/
  maring-bottom: 30px;
  font-size: 13px;
}

.click-more-info-map:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 5px black;
}


.search_map_zip {
  position: absolute;
  z-index: 7000;
  top: 10px;
  right: 65px;
  width: 300px;
  display: flex;
}

.box-mobile {
  display: none;
}

#zipDropdownMap {
  width: 100%;
}

#zipdropmap {
  width: 100%;
}

#zip_mapbutton {
  margin-left: 5px;
  display: none;
}


/*POPUP*/

.popup-background {
  overflow: scroll;
  font-family: "urw-din", sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 7000;
  display: none;
}

.popup {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;

}

.popup-content {
  position: relative;
  max-width: 750px;
  top: 7vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 30px 30px 30px;
  margin: auto;
  box-shadow: 2px 2px 5px black;
  margin-bottom: 50px;
}

.popup-content h3 {
  text-align: center;
  font-size: 2em;
}

  .popup-content h4 {
    border-bottom: 2px solid #ffba00;
    font-size: 20px;
  }

  .popup-content a {
    color: #00318b;
  }

  .popup-content a:visited {
    color: #00318b;
  }

.exit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  cursor: pointer;
  -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.exit:hover {
    transform: scale(1.1);
  }

/*end popup styling
*/

/*story pages*/

.byline {
  font-family: "urw-din", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  background-color: #ffba00;
  margin: 5px;
  color: black;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  maring-bottom: 30px;
}

.story {
  width: 100%;
}

.story-text {
  max-width: 750px;
  margin: auto;
  font-family: serif;
  font-size: 18px;
}

.pull-quote {
  width: 80%;
  margin: auto;
  position: relative;
  font-family: "urw-din", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.attribution {
  font-weight: 400;
  font-size: 15px;
}

.quote-mark {
  width: 60px;
  position: absolute;
  opacity: 0.8;
}

  .left-quote {
    top: 0px;
    left: 0px;
  }

  .right-quote {
    bottom: 0px;
    right: 0px;
  }

/*end story pages*/

/*CAROUSEL*/

.carousel-tile {
  position: relative;
  background-color: black;
}

  .carousel-tile img {
    opacity: 0.7;
  }

.story-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  text-align: center;
  font-family: "urw-din", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;

}

/*END CAROUSEL*/  


/*.fire-tab {
  box-shadow: 0px 0px 3px black;
}*/

@media only screen and (max-width: 950px) {

  .concern-container {
    grid-template-columns: 1fr 1fr;
    
  }

  .concern-title {
    font-size: 30px;
  }

  .lines {
    line-height: 10vh;
    font-size: 30px;
  }

  .concern-container {
    grid-template-columns: 1fr 1fr;
    height: 900px;
    
  }

  .other-concerns {
    grid-template-columns: 1fr;
    height: 200px;
  }

  .concern-title {
    font-size: 17px;
  }

  .lines {
    line-height: 10vh;
    font-size: 25px;
  }

  .click-for-more {
    font-size: 15px;
  }

  #map {
    width: 100%;
  }

  .map-header {
    width: 100%;
    font-family: "urw-din", sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    height: auto;
    background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }

  .map-header-content {
    margin-top: 0px;
    width: 80%;
    margin: auto;
  }

    .map-header-content h2 {
      margin-top: 7px;
      margin-bottom: 7px;
    }

  .map-subheader {
    display: none;
    font-size: 18px;
  }


  .map-subheader-mobile {
    display: block;
    cursor: pointer;
    margin-top: 0px;
  }

  .map-subheader-mobile-click {
    display: block;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 0px;
  }

  .map-legend {
    margin-top: 10px;
  } 

  .map-container {
    height: 80vh;

  }

  .search_map_zip {
    position: absolute;
    z-index: 7000;
    bottom: 10px;
    top: auto;
    left: 10px;
    right: auto;
    width: 300px;
    display: flex;
  }

  .box-mobile {
    display: block;
  }

  .box-desktop {
    display: none;
  }


}

@media only screen and (max-width: 800px) {

  .mobile-background {
    display: block;
  } 

  .desktop-background {
    display: none;
  } 

}


@media only screen and (max-width: 640px) {

  .header-title {
    padding-top: 7vh;
  }

  .header-title h1 {
    font-size: 2.5em;
  }

  .directions {
    font-size: 15px;
  }

  .input {
     height: 40px;
  }

  .or {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.4em;
  }

  .menu-title {
    font-size: 8px;
  }


  .dropdown-content {
    width: 60%;
  }

  .drop {
    width: 60%;
  }

  .outer-gobutton {
    position: absolute;
    bottom: -50px;
    width: 100%;
    z-index: 1;
  } 

  .top-three {
    display: block;
    height: 60vh;
  }

  

  .content-header {
    font-size: 17px;
  }

  .content-header p {
    font-size: 15px;
  }

  .legend-color {
    height: 20px;
  }

  /*.popup {
    padding: 20px;
  }*/

  .popup-content {
    top: 5px;
  }

  .map-header h2 {
    font-size: 25px;
  }

  .map-header p {
    font-size: 14px;
  }

  #map {
    height: 90%;
    margin-top: 20%;
  }

  .map-tab {
    font-size: 13px;
  }


} 

@media only screen and (max-width: 430px) {

  .dropdown-content {
    width: 80%;
  }

  .drop {
    width: 80%;
  }
  
}





